.pagination-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
  background-color: gray;
  border: 1px solid black;
  height: 60px;
}

.pagination-container div {
  margin-top: 10px;
}

.checkbox-Select-all {
  padding: 0.2em 2em;
  border-radius: 15px;
  display: inline-block;
  background-color: blueviolet;
}
.checkbox-Select-all:hover {
  cursor: pointer;
  padding: 0.4em 2em;
  font-weight: bold;
}

.delete-selected {
  cursor: pointer;
  background-color: rgb(238, 145, 145);
  border-radius: 20px;
  padding: 0.4em 2em;
}
.delete-selected:hover {
  font-weight: bold;
}
