.carousel-container p {
  width: 20%;
  height: 20px;
  border: 1px solid black;
}
.carousel-container {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  border: 1px solid black;
}
